body{
  text-align: center;
  font-family: helvetica;
}

.header{
  background-image: url('../images/the-flatiron-building.png');
  color: white;
  font-family: helvetica;
}

.menu li{
  font-size: 18px;
  list-style: none;
  text-align: center;
  padding: 5px;
}

.menu a{
  color: white;
}

.footer{
  background-color: dimgrey;
  text-align: left;
  color: white;
}

.footer li{
  list-style-type: none;
  display: inline;
}

.footer a{
  color: white;
}

.copywright{
  font-size: 11px;
}

h1{
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}
